.container {
    background: rgb(205, 200, 200);
    padding: 20px;
    border-radius: 10px;
    position: center;
    box-shadow: 0 0 10px rgba(2, 35, 2, 0.103);
}

form {
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#message {
    margin-top: 10px;
    color: paleturquoise;
}

/* small-screen tweaks */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 16px;
    }

    input,
    select,
    button {
        font-size: 14px;
        padding: 8px;
    }
}